.navbar.bg.sticky-top.p-2.m-2.navigation.bg-primary {
    background-color: rgb(50,50,98) !important;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.offcanvas-body {
    background-color: white !important;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.nav-item {
    background-color: white !important;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.offcanvas-header {
background-color: rgb(50,50,98) !important;
color: white;
}